@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  height: 100%;
}

.font-feature-case-on {
  font-feature-settings: "case" on;
}

.custom-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  max-height: 14px !important;
}

.custom-pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background: #737578;
  opacity: 1;
  margin: 0 6px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
}

.custom-pagination .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid #D2AE6D;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-pagination .swiper-pagination-bullet-active::after {
  content: "";
  width: 6px;
  height: 6px;
  background: #D2AE6D;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .custom-pagination.hidden-on-mobile {
    display: none;
  }
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-7 {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border {
  border-width: 1px 0;
  border-style: solid;
  border-color: transparent;
  border-image-source: linear-gradient(to right, rgba(255, 255, 255, 0.02), rgba(223, 223, 223, 0.2), rgba(153, 153, 153, 0.02));
  border-image-slice: 1;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #D2AE6D rgba(217, 217, 217, 0.1);
}
